@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4f46e5; /* Indigo-600 */
  --color-secondary: #10b981; /* Emerald-500 */
  --color-accent: #84cc16; /* Lime-500 */
  --color-dark: #0f172a; /* Slate-900 */
  --color-light: #f8fafc; /* Slate-50 */
  --font-sans: "Outfit", sans-serif;
  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-light); /* Forces the light background */
  color: var(--color-dark);
}
